button[type="submit1"]{
 
  transition: background-color 0.3s, transform 0.2s ease;
  border-radius: 50%;
  position: relative;
  left: 85%;
  margin-top: 50px;
  width: 10%;
  padding: 12px;
  border-radius: 2px;
  cursor: pointer;
  background: green;
  color: white;
  font-size: 20px;
}

button[type='submit1']:hover {
  background-color: rgb(0, 128, 0);
  transform: scale(1.05);
}

button[type="submit1"]:active {
  background-color: #388e3c;
}
h1{
  color: white;
  text-align: center;
  background: rgb(5, 156, 5);
  height: 80px;
  box-shadow: 0  0 20px green;
}



